.about-us {
    padding: 94px 0px;

    &__list {
        display: flex;
        justify-content: space-between;
        gap: 30px;
        padding: 0;
        margin: 0;
        }
}

.about-us-card {

    &__heading {
        font-size: 14px;
        line-height: 1.14;
        margin-bottom: 10px;
        }

    &__text-content {
        font-size: 14px;
        line-height: 1.71;
        color: $secondary-text-color;
        }

    &__icon-space {
        background-color: $secondary-brand-color;
        border-radius: 4px;
        padding: 25px 100px;
        margin-bottom: 30px;
        }
}