.header {
    border-bottom: 1px solid $tertiary-bgrd-color;
    padding: 16px 0px;

    & .flex {
            align-items: center;
            gap: 93px;
            padding: 0px 15px;
    }
}

@media (min-width:768px) {
    .header {
        padding: 20px;
    &__logo {
        font-size: 24px;
    }
    }
}

@media (min-width:1200px) {
    .header {
        padding: 26px;
    &__logo {
        font-size: 26px;
    }
    }
}

.list__nav-link {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
    color: $primary-brand-color;
    }
}

.nav-menu {
    flex: 1;

    &__list {
        padding: 0;
        margin: 0;
        display: flex;
        gap: 46px;
    }

    & .list__nav-link--active {
         color: $primary-brand-color;
         display: block;
         position: relative;
    
         &::after {
             content: "";
             display: inline-block;
             width: 100%;
             height: 4px;
             background-color: $primary-brand-color;
             border: 2px solid $primary-brand-color;
             border-radius: 2px;
             position: absolute;
             top: 46px;
             left: 0px;
         }
     }
}

.contacts {
    
    &__list {
        display:flex;
        padding: 0;
        margin: 0;
        gap: 50px;
       
    }

    &__link {
        display: flex;
        color: $secondary-text-color;
        fill: $secondary-text-color;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
            color: $primary-brand-color;
            fill: $primary-brand-color;
        }
        
    }

    &__icon {
        margin-right: 10px;
    }
}

@media (max-width: 1199px) {
    .contacts {
        &__list {
            flex-direction: column;
            gap: 10px;
        }
        &__link {
            font-size: 12px;
        }
    }
}

@media (max-width: 767px) {
    .header__contacts {
        display: none;
    }
}

@media (max-width: 767px) {
    .header > .container {
        justify-content: space-between;
        margin: 0px auto;
    }

    .nav-menu {
    display: none;
    }
}

@media (max-width: 767px) {
    .mobile-contacts {
        &__phone-link {
            font-size: 34px;
            font-weight: 500;
            color: $primary-brand-color;
        }
        &__email-link {
            font-size: 24px;
            font-weight: 500;
            color: $secondary-text-color;
        }

        &__email-address {
            margin: 32px 0px 64px;
        }
        &__socials {
            display: flex;
            color: $primary-brand-color;
            }
        &__social-link {
            font-size: 18px;
            &:not(:last-child) {
                border-right: 1px solid $primary-text-color-op20;
                padding-right: 10px;
            }
            &:not(:first-child) {
                padding-left: 10px;
            }
        }
    }
}



.menu-toggle {
    min-height: 40px;
    min-width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    outline: none;

    &__icon {

        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
            fill: $primary-brand-color;
        }
    }
}

@media (min-width: 768px) {
    .menu-toggle {
        display: none;
    }
}

.menu-container {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 48px 83px 48px 40px;
    background-color: $tertiary-text-color;
    z-index: 999;

    transform: translateX(100%);
    transition: transform 250ms ease-in-out;

    &.menu-container.is-open {
        display: flex;
        transform: translateX(0);
        }

    & .menu-toggle {
        position: absolute;
        top: 16px;
        right: 16px;
        color: $primary-text-color;
    }
}

.mobile-menu {
    padding: 0;
    margin: 0;
    list-style: none;

    &__list-item {

        &:not(:last-child) {
            margin-bottom: 32px;
        }
    }

    &__mobile-nav-link {
    display: block;
    padding: 10px;
    text-decoration: none;
    padding: 0px;
    font-size: 40px;

        &--active {
        color: $primary-brand-color;
    }
    }
}