$primary-text-color: #212121;
$primary-text-color-op20:rgba(33, 33, 33, 0.2);
$secondary-text-color: #757575;
$secondary-text-color-op50: rgba(117, 117, 117, 0.5);
$tertiary-text-color: #ffffff;
$primary-brand-color: #2196F3;
$secondary-brand-color: #F5F4FA;
$tertiary-brand-color: #000000;
$quaternary-brand-color: #AFB1B8;
$primary-bgrd-color: #2F303A;
$secondary-bgrd-color: #F5F4FA;
$tertiary-bgrd-color: #ECECEC;
$quaternary-bgrd-color: #EEEEEE;
$quinary-bgrd-color: rgba(255, 255, 255, 10%);
$senary-bgrd-color:rgba(0, 0, 0, 20%);
$septenary-bgrd-color: rgba(0, 0, 0, 10%);
$quinary-brand-color: rgba(225, 225, 225, 30%);